<h4 class="card-title mb-2">Social Media :</h4>
<ul class="list-inline d-flex gap-1 mb-0 mt-3  align-items-center">
  <li class="list-inline-item">
    <a href="javascript: void(0);" class="btn btn-soft-primary avatar-sm d-flex align-items-center justify-content-center fs-20">
      <i class="bx bxl-facebook"></i>
    </a>
  </li>

  <li class="list-inline-item">
    <a href="javascript: void(0);" class="btn btn-soft-danger avatar-sm d-flex align-items-center justify-content-center fs-20">
      <i class="bx bxl-instagram"></i>
    </a>
  </li>

  <li class="list-inline-item">
    <a href="javascript: void(0);" class="btn btn-soft-info avatar-sm d-flex align-items-center justify-content-center  fs-20">
      <i class="bx bxl-twitter"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="javascript: void(0);" class="btn btn-soft-success avatar-sm d-flex align-items-center justify-content-center fs-20">
      <i class="bx bxl-whatsapp"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="javascript: void(0);" class="btn btn-soft-warning avatar-sm d-flex align-items-center justify-content-center fs-20">
      <i class="bx bx-envelope"></i>
    </a>
  </li>
</ul>
<h4 class="card-title mt-3 mb-2">Our Story :</h4>
<p>At ZARA, we believe that fashion is more than just clothing—it's an expression of individuality and a celebration of diversity. Founded in 2003, our journey began with a simple yet powerful vision: to create high-quality, stylish, and comfortable apparel that resonates with people from all walks of life.</p>

<h4 class="card-title my-2">Our Mission :</h4>
<p>Our mission is to redefine fashion by merging timeless elegance with contemporary design. We strive to offer clothing that not only looks good but also feels good, making everyday wear an enjoyable experience. At the heart of our brand is a commitment to quality, sustainability, and customer satisfaction.</p>

<div class="row text-center g-2 mt-2">
  <div class="col-lg-3 col-4">
    <div class="bg-body p-2 rounded">
      <h5 class="mb-1">865</h5>
      <p class="text-muted mb-0">Item Stock</p>
    </div>
  </div>
  <div class="col-lg-3 col-4">
    <div class="bg-body p-2 rounded">
      <h5 class="mb-1">+4.5k</h5>
      <p class="text-muted mb-0">Sells</p>
    </div>
  </div>
  <div class="col-lg-3 col-4">
    <div class="bg-body p-2 rounded">
      <h5 class="mb-1">+2k</h5>
      <p class="text-muted mb-0">Happy Client</p>
    </div>
  </div>
  <div class="col-lg-3 col-4">
    <div class="bg-body p-2 rounded">
      <h5 class="mb-1">+36k</h5>
      <p class="text-muted mb-0">Followers</p>
    </div>
  </div>
</div>