<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-lg-2 text-lg-center">
            <div class="bg-body d-flex align-items-center justify-content-center rounded py-4">
              <img src="assets/images/seller/zara.svg" alt="" class="avatar-xxl flex-shrink-0">
            </div>
            <div class="mt-3">
              <a href="javascript:void(0);" class="btn btn-primary w-100">View Stock Detail</a>
            </div>
          </div>
          <div class="col-lg-3 border-end">
            <div class="">
              <h4 class="mb-1"> ZARA International</h4>
              <p class="mb-1">(Most Selling Fashion Brand)</p>
              <a href="javascript:void(0);" class="link-primary fs-16 fw-medium">www.larkon.co</a>
              <div class="d-flex align-items-center justify-content-satrt gap-2 mt-2 mb-1">
              
                <ul class="d-flex m-0 fs-20 list-unstyled">
                  <ng-template #t let-fill="fill">
                    <i class="bx bx-star text-warning fs-20">
                      @if (fill > 0) {
                      <i class="bx bxs-star text-warning fs-20 filled" [style.width.%]="fill"></i>
                      }
                    </i>
                  </ng-template>
      
                  <ngb-rating [rate]="4.5" [starTemplate]="t" [readonly]="true" [max]="5" />
                </ul>
                <p class="fw-medium mb-0 text-dark fs-15">4.5/5 <span class="fs-13">(+23.3K Review)</span></p>
              </div>
              <div class="mt-2">
                <div class="d-flex align-items-center gap-2 mb-2">
                  <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                    <iconify-icon icon="solar:point-on-map-bold-duotone" class="fs-20 text-primary"></iconify-icon>
                  </div>
                  <p class="mb-0 fs-15">4604 , Philli Lane Kiowa IN 47404</p>
                </div>
                <div class="d-flex align-items-center gap-2 mb-2">
                  <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                    <iconify-icon icon="solar:letter-bold-duotone" class="fs-20 text-primary"></iconify-icon>
                  </div>
                  <p class="mb-0 fs-15">zarafashionworld&#64;dayrep.com</p>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                    <iconify-icon icon="solar:outgoing-call-rounded-bold-duotone" class="fs-20 text-primary"></iconify-icon>
                  </div>
                  <p class="mb-0 fs-15">+243 812-801-9335</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <seller-profit />
          </div>
        </div>
        <hr class="my-4">
          <seller-info />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-9">
    <sales-analytic />
  </div>
  <div class="col-lg-3">
    <seller-company-review />
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <seller-latest-product />
  </div>
  <div class="col-lg-4">
    <seller-accounting />
  </div>
</div>