<div class="card">
  <div class="card-header">
       <h4 class="card-title d-flex align-items-center gap-1"><iconify-icon icon="solar:ticket-sale-bold-duotone" class="text-primary fs-20"></iconify-icon>Tax Settings</h4>
  </div>
  <div class="card-body">
       <p>Prices with Tax</p>
       <div class="d-flex gap-2 align-items-center mb-3">
            <div class="form-check">
                 <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault7" checked>
                 <label class="form-check-label" for="flexRadioDefault7">
                      Yes
                 </label>
            </div>
            <div class="form-check">
                 <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault8">
                 <label class="form-check-label" for="flexRadioDefault8">
                      No
                 </label>
            </div>
       </div>
       <form>
            <div class="mb-1 pb-1">
                 <label for="items-tax" class="form-label">Default Tax Rate</label>
                 <input type="text" id="items-tax" class="form-control" placeholder="000" value="18%">
            </div>
       </form>
  </div>
</div>