<div class="row align-items-center justify-content-center h-100">
  <div class="col-lg-10">
    <app-logo-box  className="auth-logo mb-3 text-center"/>
       <div class="mx-auto text-center">
            <img src="assets/images/404-error.png" alt="" class="img-fluid my-3">
       </div>
       <h2 class="fw-bold text-center lh-base">Ooops! The Page You're Looking For Was Not Found</h2>
       <p class="text-muted text-center mt-1 mb-4">Sorry, we couldn't find the page you were looking for. We suggest that you return to main sections</p>
       <div class="text-center">
            <a routerLink="/" class="btn btn-primary">Back To Home</a>
       </div>
  </div>
</div>