<div class="card">
  <div class="card-header">
       <h4 class="card-title d-flex align-items-center gap-1"><iconify-icon icon="solar:users-group-two-rounded-bold-duotone" class="text-primary fs-20"></iconify-icon>Customers Settings</h4>
  </div>
  <div class="card-body">
       <div class="row justify-content-between g-3">
            <div class="col-lg-2 border-end">
                 <p>Customers Online</p>
                 <div class="d-flex gap-2 align-items-center">
                      <div class="form-check">
                           <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault9" checked="">
                           <label class="form-check-label" for="flexRadioDefault9">
                                Yes
                           </label>
                      </div>
                      <div class="form-check">
                           <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault10">
                           <label class="form-check-label" for="flexRadioDefault10">
                                No
                           </label>
                      </div>
                 </div>
            </div>
            <div class="col-lg-2 border-end">
                 <p>Customers Activity</p>
                 <div class="d-flex gap-2 align-items-center">
                      <div class="form-check">
                           <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault11" checked="">
                           <label class="form-check-label" for="flexRadioDefault11">
                                Yes
                           </label>
                      </div>
                      <div class="form-check">
                           <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault12">
                           <label class="form-check-label" for="flexRadioDefault12">
                                No
                           </label>
                      </div>
                 </div>
            </div>
            <div class="col-lg-2 border-end">
                 <p>Customer Searches</p>
                 <div class="d-flex gap-2 align-items-center">
                      <div class="form-check">
                           <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault13" checked="">
                           <label class="form-check-label" for="flexRadioDefault13">
                                Yes
                           </label>
                      </div>
                      <div class="form-check">
                           <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault14">
                           <label class="form-check-label" for="flexRadioDefault14">
                                No
                           </label>
                      </div>
                 </div>
            </div>
            <div class="col-lg-2 border-end">
                 <p>Allow Guest Checkout</p>
                 <div class="d-flex gap-2 align-items-center">
                      <div class="form-check">
                           <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault15">
                           <label class="form-check-label" for="flexRadioDefault15">
                                Yes
                           </label>
                      </div>
                      <div class="form-check">
                           <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault16" checked="">
                           <label class="form-check-label" for="flexRadioDefault16">
                                No
                           </label>
                      </div>
                 </div>
            </div>
            <div class="col-lg-2">
                 <p>Login Display Price</p>
                 <div class="d-flex gap-2 align-items-center">
                      <div class="form-check">
                           <input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault17">
                           <label class="form-check-label" for="flexRadioDefault17">
                                Yes
                           </label>
                      </div>
                      <div class="form-check">
                           <input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault18" checked="">
                           <label class="form-check-label" for="flexRadioDefault18">
                                No
                           </label>
                      </div>
                 </div>
            </div>
       </div>
       <div class="row mt-3">
            <div class="col-lg-6">
                 <form>
                      <div class="">
                           <label for="login-attempts" class="form-label">Max Login Attempts</label>
                           <input type="text" id="login-attempts" class="form-control" placeholder="max" value="1 hour">
                      </div>
                 </form>
            </div>

       </div>
  </div>
</div>