<div class="card">
  <div class="card-header">
       <h4 class="card-title d-flex align-items-center gap-1"><iconify-icon icon="solar:settings-bold-duotone" class="text-primary fs-20"></iconify-icon>General Settings</h4>
  </div>
  <div class="card-body">
       <div class="row">
            <div class="col-lg-6">
                 <form>
                      <div class="mb-3">
                           <label for="meta-name" class="form-label">Meta Title</label>
                           <input type="text" id="meta-name" class="form-control" placeholder="Title">
                      </div>
                 </form>
            </div>
            <div class="col-lg-6">
                 <form>
                      <div class="mb-3">
                           <label for="meta-tag" class="form-label">Meta Tag Keyword</label>
                           <input type="text" id="meta-tag" class="form-control" placeholder="Enter word">
                      </div>
                 </form>
            </div>
            <div class="col-lg-6">
                 <form>
                      <div class="mb-3">
                           <label for="themes" class="form-label">Store Themes</label>
                           <select selectFormInput class="form-control" id="themes" data-choices data-choices-groups data-placeholder="Select Themes">
                                <option value="">Default</option>
                                <option value="Dark">Dark</option>
                                <option value="Minimalist">Minimalist</option>
                                <option value="High Contrast">High Contrast</option>
                           </select>
                      </div>
                 </form>
            </div>
            <div class="col-lg-6">
                 <form>
                      <div class="mb-3">
                           <label for="layout" class="form-label">Layout</label>
                           <select selectFormInput class="form-control" id="layout" data-choices data-choices-groups data-placeholder="Select Layout">
                                <option value="">Default</option>
                                <option value="Electronics">Electronics</option>
                                <option value="Fashion">Fashion</option>
                                <option value="Dining">Dining</option>
                                <option value="Interior">Interior</option>
                                <option value="Home">Home</option>
                           </select>
                      </div>
                 </form>
            </div>
            <div class="col-lg-12">
                 <div class="">
                      <label for="description" class="form-label">Description</label>
                      <textarea class="form-control bg-light-subtle" id="description" rows="4" placeholder="Type description"></textarea>
                 </div>
            </div>
       </div>
  </div>
</div>