<div class="d-flex flex-column h-100 p-3" style="background-color: #000;">
  <div class="d-flex flex-column flex-grow-1">
    <div class="row h-100">
      <div class="col-xxl-7 text-white">
        <router-outlet />
      </div>

      <div class="col-xxl-5 d-none d-xxl-flex">
        <div class="card h-100 mb-0 overflow-hidden">
          <div class="d-flex flex-column h-100">
            <img src="assets/images/small/img-10.jpg" alt="" class="w-100 h-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>