<div class="card">
  <div class="card-header">
       <h4 class="card-title">Meta Options</h4>
  </div>
  <div class="card-body">
       <div class="row">
            <div class="col-lg-6">
                 <form>
                      <div class="mb-3">
                           <label for="meta-title" class="form-label">Meta Title</label>
                           <input type="text" id="meta-title" class="form-control" placeholder="Enter Title" value="Fashion Brand">
                      </div>
                 </form>
            </div>
            <div class="col-lg-6">
                 <form>
                      <div class="mb-3">
                           <label for="meta-tag" class="form-label">Meta Tag Keyword</label>
                           <input type="text" id="meta-tag" class="form-control" placeholder="Enter word" value="fashion">
                      </div>
                 </form>
            </div>
            <div class="col-lg-12">
                 <div class="mb-0">
                      <label for="description" class="form-label">Description</label>
                      <textarea class="form-control bg-light-subtle" id="description" rows="4" placeholder="Type description"></textarea>
                 </div>
            </div>
       </div>
  </div>
</div>