<div class="card bg-light-subtle">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-3">
        <div class="d-flex align-items-center gap-3">
          <div class="avatar bg-light d-flex align-items-center justify-content-center rounded">
            <iconify-icon icon="solar:kick-scooter-bold-duotone" class="fs-35 text-primary"></iconify-icon>
          </div>

          <div>
            <p class="text-dark fw-medium fs-16 mb-1">Free shipping for all orders over {{currency}}200</p>
            <p class="mb-0">Only in this week</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="d-flex align-items-center gap-3">
          <div class="avatar bg-light d-flex align-items-center justify-content-center rounded">
            <iconify-icon icon="solar:ticket-bold-duotone" class="fs-35 text-primary"></iconify-icon>
          </div>

          <div>
            <p class="text-dark fw-medium fs-16 mb-1">Special discounts for customers</p>
            <p class="mb-0">Coupons up to $ 100</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="d-flex align-items-center gap-3">
          <div class="avatar bg-light d-flex align-items-center justify-content-center rounded">
            <iconify-icon icon="solar:gift-bold-duotone" class="fs-35 text-primary"></iconify-icon>
          </div>

          <div>
            <p class="text-dark fw-medium fs-16 mb-1">Free gift wrapping</p>
            <p class="mb-0">With 100 letters custom note</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="d-flex align-items-center gap-3">
          <div class="avatar bg-light d-flex align-items-center justify-content-center rounded">
            <iconify-icon icon="solar:headphones-round-sound-bold-duotone" class="fs-35 text-primary"></iconify-icon>
          </div>

          <div>
            <p class="text-dark fw-medium fs-16 mb-1">Expert Customer Service</p>
            <p class="mb-0">8:00 - 20:00, 7 days/wee</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>