<div class="row justify-content-center h-100">
  <div class="col-lg-6 py-lg-5">
    <div class="d-flex flex-column h-100 justify-content-center">
      <app-logo-box className="auth-logo mb-4" />

      <h2 class="fw-bold fs-24">Reset Password</h2>

      <p class="text-muted mt-1 mb-4">Enter your email address and we'll send you an email with instructions to reset your password.</p>

      <div>
        <form class="authentication-form">
          <div class="mb-3">
            <label class="form-label" for="example-email">Email</label>
            <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Enter your email">
          </div>
          <div class="mb-1 text-center d-grid">
            <button class="btn btn-primary" type="submit">Reset Password</button>
          </div>
        </form>
      </div>

      <p class="mt-5 text-danger text-center">Back to<a routerLink="/auth/signin" class="text-dark fw-bold ms-1">Sign In</a></p>
    </div>
  </div>
</div>