<div class="row">
  <div class="col-md-6 col-xl-3">
       <div class="card">
            <div class="card-body">
                 <div class="d-flex align-items-center justify-content-between">
                      <div>
                           <h4 class="card-title mb-2 d-flex align-items-center gap-2">Return Order <span class="badge text-danger bg-danger-subtle fs-12"><i class="bx bx-down-arrow-alt"></i>6.9%</span></h4>
                           <p class="text-muted fw-medium fs-22 mb-0">367 <span class="fs-14">Items</span></p>
                      </div>
                      <div>
                           <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                <iconify-icon icon="solar:check-circle-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                           </div>
                      </div>
                 </div>
            </div>
       </div>
  </div>
  <div class="col-md-6 col-xl-3">
       <div class="card">
            <div class="card-body">
                 <div class="d-flex align-items-center justify-content-between">
                      <div>
                           <h4 class="card-title mb-2 d-flex align-items-center gap-2">Pending Return Order</h4>
                           <p class="text-muted fw-medium fs-22 mb-0">201 <span class="fs-14">Items</span></p>
                      </div>
                      <div>
                           <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                <iconify-icon icon="solar:close-circle-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                           </div>
                      </div>
                 </div>
            </div>
       </div>
  </div>

  <div class="col-md-6 col-xl-3">
       <div class="card">
            <div class="card-body">
                 <div class="d-flex align-items-center justify-content-between">
                      <div>
                           <h4 class="card-title mb-2 d-flex align-items-center gap-2">Total Customer <span class="badge text-success bg-success-subtle fs-12"><i class="bx bx-up-arrow-alt"></i>8.9%</span></h4>
                           <p class="text-muted fw-medium fs-22 mb-0">5,634</p>
                      </div>
                      <div>
                           <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                <iconify-icon icon="solar:user-plus-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                           </div>
                      </div>
                 </div>
            </div>
       </div>
  </div>

  <div class="col-md-6 col-xl-3">
       <div class="card">
            <div class="card-body">
                 <div class="d-flex align-items-center justify-content-between">
                      <div>
                           <h4 class="card-title mb-2 d-flex align-items-center gap-2">Return Order Received<span class="badge text-danger bg-danger-subtle fs-12"><i class="bx bx-down-arrow-alt"></i>9.1%</span></h4>
                           <p class="text-muted fw-medium fs-22 mb-0">864 <span class="fs-14">Items</span></p>
                      </div>
                      <div>
                           <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                <iconify-icon icon="solar:bag-smile-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                           </div>
                      </div>
                 </div>
            </div>
       </div>
  </div>

</div>