<div class="row align-items-center justify-content-center h-100">
  <div class="col-lg-10">
    <app-logo-box  className="auth-logo mb-3 text-center"/>
       <div class="mx-auto text-center">
            <img src="assets/images/maintenance-2.png" alt="" class="img-fluid my-3" height="700" width="700">
       </div>
       <h2 class="fw-bold text-center lh-base">We are currently performing maintenance</h2>
       <p class="text-muted text-center mt-1 mb-4">We're making the system more awesome.
            We'll be back shortly.</p>

       <div class="text-center">
            <a routerLink="/" class="btn btn-primary">Back To Home</a>
       </div>
  </div>
</div>