<coupon-state />

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="d-flex card-header justify-content-between align-items-center">
        <div>
          <h4 class="card-title">All Product List</h4>
        </div>
        <div ngbDropdown class="dropdown">
          <a ngbDropdownToggle href="javascript:void(0);" class="dropdown-toggle btn btn-sm btn-outline-light rounded" >
            This Month
          </a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <a href="javascript:void(0);" class="dropdown-item">Download</a>
            <a href="javascript:void(0);" class="dropdown-item">Export</a>
            <a href="javascript:void(0);" class="dropdown-item">Import</a>
          </div>
        </div>
      </div>
      <div>
        <div class="table-responsive">
          <table class="table align-middle mb-0 table-hover table-centered">
            <thead class="bg-light-subtle">
              <tr>
                <th style="width: 20px;">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="customCheck1">
                    <label class="form-check-label" for="customCheck1"></label>
                  </div>
                </th>
                <th>Product Name & Type</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Code</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @for(item of couponList;track $index){
              <tr>
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="customCheck2">
                    <label class="form-check-label" for="customCheck2">&nbsp;</label>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center gap-2">
                    <div class="rounded bg-light avatar-md d-flex align-items-center justify-content-center">
                      <img [src]="item.image" alt="" class="avatar-md">
                    </div>
                    <div>
                      <a href="javascript:void(0);" class="text-dark fw-medium fs-15">{{item.name}}</a>
                      <p class="text-muted mb-0 mt-1 fs-13">
                        @if(item.size){ <span>Size : </span>{{item.size}}
                        }@else {<span>{{item.category}}</span>}
                      </p>
                    </div>
                  </div>

                </td>
                <td>${{item.price | number:'1.2'}}</td>
                <td>${{item.discount| number:'1.2'}}</td>
                <td>{{item.code}}</td>
                <td>{{item.start_date}}</td>
                <td>{{item.end_date}}</td>
                <td>
                  <span class="badge fs-12" [ngClass]="{'text-success bg-success-subtle':item.status == 'Active','text-danger bg-danger-subtle':item.status == 'Expired'}">
                    <i class="bx" [ngClass]="{'bx-check-double':item.status == 'Active','bx-x':item.status == 'Expired'}"></i>{{item.status}}</span>
                </td>
                <td>
                  <div class="d-flex gap-2">
                    <a href="javascript:void(0);" class="btn btn-light btn-sm"><iconify-icon icon="solar:eye-broken" class="align-middle fs-18"></iconify-icon></a>
                    <a href="javascript:void(0);" class="btn btn-soft-primary btn-sm"><iconify-icon icon="solar:pen-2-broken" class="align-middle fs-18"></iconify-icon></a>
                    <a href="javascript:void(0);" class="btn btn-soft-danger btn-sm"><iconify-icon icon="solar:trash-bin-minimalistic-2-broken" class="align-middle fs-18"></iconify-icon></a>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer border-top">
        <nav aria-label="Page navigation example">
          <ngb-pagination [collectionSize]="30" [page]="1" class="pagination justify-content-end mb-0">
            <ng-template ngbPaginationPrevious>Previous</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
          </ngb-pagination>
        </nav>
      </div>
    </div>
  </div>

</div>