<div class="card">
  <div class="card-header">
       <h4 class="card-title">About</h4>
  </div>
  <div class="card-body">
       <p>I'm the model of the new Project Head Manager. I've combined a deep background in brand management at blue chip CPG companies with eCommerce growth marketing at the world's biggest retailer. I've run SingleFire I've created world-class campaigns; I've built digital marketing organizations from the ground up. I have over 20 years' experience leading... <a href="javascript:void(0);" class="text-primary">See more</a></p>
       <h4 class="card-title mb-2">My Approach :</h4>
       <p>When it comes to Project Head Manager, I believe in a holistic approach that combines creativity with technical expertise. I start by understanding your unique vision and goals, then work tirelessly to bring that vision to life. Whether you need a sleek portfolio site, an engaging e-commerce platform, or anything in between, I've got you covered.</p>
       <div class="row g-2 mt-2 mb-4">
            <div class="col-lg-6">
                 <div class="border p-3 rounded">
                      <h4 class="card-title">Marketing expertise</h4>
                      <div class="d-flex gap-2 flex-wrap mt-3">
                           <span class="badge bg-body text-muted px-2 py-1 fs-12">#Leadership</span>
                           <span class="badge bg-body text-muted px-2 py-1 fs-12">#Advertising</span>
                           <span class="badge bg-body text-muted px-2 py-1 fs-12">#Public-relations</span>
                           <span class="badge bg-body text-muted px-2 py-1 fs-12">#Branding-manage</span>
                      </div>
                      <p class="mb-0 text-dark mt-3">Open to networking :<span class="badge bg-success-subtle text-success ms-1">Yes</span></p>
                 </div>
            </div>
            <div class="col-lg-6">
                 <div class="border p-3 rounded">
                      <h4 class="card-title">Marketing interests</h4>
                      <div class="d-flex gap-2 flex-wrap mt-3">
                           <span class="badge bg-body text-muted px-2 py-1 fs-12">#Event-marketing</span>
                           <span class="badge bg-body text-muted px-2 py-1 fs-12">#Performance-marketing</span>
                           <span class="badge bg-body text-muted px-2 py-1 fs-12">#Account-based-marketing</span>
                      </div>
                      <p class="mb-0 text-dark mt-3">Open to advising :<span class="badge bg-success-subtle text-success ms-1">Yes</span></p>
                 </div>
            </div>
       </div>
       <h4 class="card-title">My Core Skills :</h4>
       <div class="row mt-2">
            <div class="col-lg-4">
                 <div class="d-flex align-items-center justify-content-satrt gap-2">
                      <ul class="d-flex text-warning m-0 fs-20 list-unstyled">
                        <ngb-rating [rate]="4" [max]="4">
                          <ng-template let-fill="fill" let-index="index">
                            <i class="bx bxs-star fs-20 text-warning" ></i>
                          </ng-template>
                        </ngb-rating>
                      </ul>
                      <p class="fw-medium mb-0 text-dark fs-15">Inbound Marketing</p>
                 </div>
            </div>
            <div class="col-lg-4">
                 <div class="d-flex align-items-center justify-content-satrt gap-2">
                      <ul class="d-flex text-warning m-0 fs-20 list-unstyled">
                        <ngb-rating [rate]="3" [max]="3">
                          <ng-template let-fill="fill" let-index="index">
                            <i class="bx bxs-star fs-20 text-warning" ></i>
                          </ng-template>
                        </ngb-rating>
                      </ul>
                      <p class="fw-medium mb-0 text-dark fs-15">Entrepreneurship</p>
                 </div>
            </div>
            <div class="col-lg-4">
                 <div class="d-flex align-items-center justify-content-satrt gap-2">
                      <ul class="d-flex text-warning m-0 fs-20 list-unstyled">
                        <ngb-rating [rate]="2" [max]="2">
                          <ng-template let-fill="fill" let-index="index">
                            <i class="bx bxs-star fs-20 text-warning" ></i>
                          </ng-template>
                        </ngb-rating>
                      </ul>
                      <p class="fw-medium mb-0 text-dark fs-15">Growth Marketing</p>
                 </div>
            </div>
       </div>
  </div>
</div>