<div class="card">
  <div class="card-header">
       <h4 class="card-title d-flex align-items-center gap-1"><iconify-icon icon="solar:chat-square-check-bold-duotone" class="text-primary fs-20"></iconify-icon>Reviews Settings</h4>
  </div>
  <div class="card-body">
       <p>Allow Reviews </p>
       <div class="d-flex gap-2 align-items-center mb-3">
            <div class="form-check">
                 <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault3" checked>
                 <label class="form-check-label" for="flexRadioDefault3">
                      Yes
                 </label>
            </div>
            <div class="form-check">
                 <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault4">
                 <label class="form-check-label" for="flexRadioDefault4">
                      No
                 </label>
            </div>
       </div>
       <p class="mt-3 pt-1">Allow Guest Reviews </p>
       <div class="d-flex gap-2 align-items-center mb-2">
            <div class="form-check">
                 <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault5">
                 <label class="form-check-label" for="flexRadioDefault5">
                      Yes
                 </label>
            </div>
            <div class="form-check">
                 <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault6" checked>
                 <label class="form-check-label" for="flexRadioDefault6">
                      No
                 </label>
            </div>
       </div>
  </div>
</div>