<div class="card">
  <div class="card-body text-center">
    <img src="assets/images/user-profile.png" alt="" class="img-fluid">
    <h4><i class='bx bxs-coin-stack text-primary'></i> 3,764 <span class="text-muted fw-medium">Points Earned</span> </h4>
    <p class="mb-0">Collect reward points with each purchase.</p>
  </div>
  <div class="card-footer border-top gap-1 hstack">
    <a href="javascript:void(0);" class="btn btn-primary w-100">Earn Point</a>
    <a href="javascript:void(0);" class="btn btn-light w-100">View Items</a>
  </div>
</div>