<div class="card">
  <div class="card-header">
       <h4 class="card-title">Payment Information</h4>
  </div>
  <div class="card-body">
       <div class="d-flex align-items-center gap-3 mb-3">
            <div class="rounded-3 bg-light avatar d-flex align-items-center justify-content-center">
                 <img src="assets/images/card/mastercard.svg" alt="" class="avatar-sm">
            </div>
            <div>
                 <p class="mb-1 text-dark fw-medium">Master Card</p>
                 <p class="mb-0 text-dark">xxxx xxxx xxxx 7812</p>
            </div>
            <div class="ms-auto">
                 <iconify-icon icon="solar:check-circle-broken" class="fs-22 text-success"></iconify-icon>
            </div>
       </div>
       <p class="text-dark mb-1 fw-medium">Transaction ID : <span class="text-muted fw-normal fs-13"> #IDN768139059</span></p>
       <p class="text-dark mb-0 fw-medium">Card Holder Name : <span class="text-muted fw-normal fs-13"> Gaston Lapierre</span></p>

  </div>
</div>