<div class="card">
  <div class="card-header">
       <h4 class="card-title">Personal Information</h4>
  </div>
  <div class="card-body">
       <div class="">
            <div class="d-flex align-items-center gap-2 mb-2">
                 <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                      <iconify-icon icon="solar:backpack-bold-duotone" class="fs-20 text-secondary"></iconify-icon>
                 </div>
                 <p class="mb-0 fs-14">Project Head Manager</p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-2">
                 <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                      <iconify-icon icon="solar:square-academic-cap-2-bold-duotone" class="fs-20 text-secondary"></iconify-icon>
                 </div>
                 <p class="mb-0 fs-14">Went to <span class="text-dark fw-semibold">Oxford International</span></p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-2">
                 <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                      <iconify-icon icon="solar:map-point-bold-duotone" class="fs-20 text-secondary"></iconify-icon>
                 </div>
                 <p class="mb-0 fs-14">Lives in <span class="text-dark fw-semibold">Pittsburgh, PA 15212</span></p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-2">
                 <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                      <iconify-icon icon="solar:users-group-rounded-bold-duotone" class="fs-20 text-secondary"></iconify-icon>
                 </div>
                 <p class="mb-0 fs-14">Followed by <span class="text-dark fw-semibold">16.6k People</span></p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-2">
                 <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                      <iconify-icon icon="solar:letter-bold-duotone" class="fs-20 text-secondary"></iconify-icon>
                 </div>
                 <p class="mb-0 fs-14">Email <a href="javascript:void(0);" class="text-primary fw-semibold">hello&#64;dundermuffilin.com</a></p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-2">
                 <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                      <iconify-icon icon="solar:link-bold-duotone" class="fs-20 text-secondary"></iconify-icon>
                 </div>
                 <p class="mb-0 fs-14">Website <a href="javascript:void(0);" class="text-primary fw-semibold">www.larkon.co</a></p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-2">
                 <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                      <iconify-icon icon="solar:global-bold-duotone" class="fs-20 text-secondary"></iconify-icon>
                 </div>
                 <p class="mb-0 fs-14">Language <span class="text-dark fw-semibold">English , Spanish , German</span></p>
            </div>

            <div class="d-flex align-items-center gap-2">
                 <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                      <iconify-icon icon="solar:check-circle-bold-duotone" class="fs-20 text-secondary"></iconify-icon>
                 </div>
                 <p class="mb-0 fs-14">Status <span class="badge bg-success-subtle text-success ms-1">Active</span></p>
            </div>
            <div class="mt-2">
                 <a href="javascript:void(0);" class="text-primary">View More</a>
            </div>
       </div>
  </div>
</div>