<div class="card">
  <div class="card-header">
       <h4 class="card-title d-flex align-items-center gap-1"><iconify-icon icon="solar:box-bold-duotone" class="text-primary fs-20"></iconify-icon>Categories Settings</h4>
  </div>
  <div class="card-body">
       <p>Category Product Count </p>
       <div class="d-flex gap-2 align-items-center mb-3">
            <div class="form-check">
                 <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                 <label class="form-check-label" for="flexRadioDefault1">
                      Yes
                 </label>
            </div>
            <div class="form-check">
                 <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                 <label class="form-check-label" for="flexRadioDefault2">
                      No
                 </label>
            </div>
       </div>
       <form>
            <div class="mb-1 pb-1">
                 <label for="items-par-page" class="form-label">Default Items Per Page</label>
                 <input type="number" id="items-par-page" class="form-control" placeholder="000">
            </div>
       </form>
  </div>
</div>