<div class="row">
  <div class="col-lg-12">
    <general-setting />
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <store-setting />
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <localization-setting />
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <category-setting />
  </div>
  <div class="col-lg-3">
    <review-setting />
  </div>
  <div class="col-lg-3">
    <voucher-setting />
  </div>
  <div class="col-lg-3">
    <tax-setting />
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <customer-setting />
  </div>
</div>

<div class="text-end">
  <a href="javascript:void(0);" class="btn btn-danger">Cancel</a>
  <a href="javascript:void(0);" class="btn btn-success ms-1">Save Change</a>
</div>