<div class="row">
  @for(item of reviewList;track $index){
  <div class="col-xl-3 col-md-6">
    <div class="card overflow-hidden">
      <div class="card-body">
        <p class="mb-2 text-dark fw-semibold fs-15">Reviewed in {{item.country}} on {{item.date}}</p>
        <p class="mb-0">" {{item.text}}"</p>
        <div class="d-flex align-items-center gap-2 mt-2 mb-1">
          <ul class="d-flex m-0 fs-20 list-unstyled">
              <ng-template #t let-fill="fill">
                <i class="bx bx-star text-warning fs-20">
                  @if (fill > 0) {
                  <i class="bx bxs-star text-warning fs-20 filled" [style.width.%]="fill"></i>
                  }
                </i>
              </ng-template>
  
              <ngb-rating [(rate)]="item.rating" [starTemplate]="t" [readonly]="true" [max]="5" />
          </ul>
          <p class="fw-medium mb-0 text-dark fs-15">{{item.summary}}</p>
        </div>
      </div>
      <div class="card-footer bg-primary position-relative mt-3">
        <div class="position-absolute top-0 start-0 translate-middle-y ms-3">
          <img [src]="item.reviewer.avatar" alt="" class="avatar-lg border border-light border-3 rounded-circle">
        </div>
        <div class="position-absolute top-0 end-0 translate-middle-y me-3">
          <img src="assets/images/double.png" alt="" class="avatar-md">
        </div>
        <div class="mt-4">
          <h4 class="text-white mb-1">{{item.reviewer.name}}</h4>
          <p class="text-white mb-0">{{item.reviewer.title}}</p>
        </div>

      </div>
    </div>
  </div>
  }
</div>