<div class="card">
  <div class="card-header">
       <h4 class="card-title">Customer Details</h4>
  </div>
  <div class="card-body">
       <div class="d-flex align-items-center gap-2">
            <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar rounded-3 border border-light border-3">
            <div>
                 <p class="mb-1">Gaston Lapierre</p>
                 <a href="javascript:void(0);" class="link-primary fw-medium">hello&#64;dundermuffilin.com</a>
            </div>
       </div>
       <div class="d-flex justify-content-between mt-3">
            <h5 class="">Contact Number</h5>
            <div>
                 <a href="javascript:void(0);"><i class='bx bx-edit-alt fs-18'></i></a>
            </div>
       </div>
       <p class="mb-1">(723) 732-760-5760</p>

       <div class="d-flex justify-content-between mt-3">
            <h5 class="">Shipping Address</h5>
            <div>
                 <a href="javascript:void(0);"><i class='bx bx-edit-alt fs-18'></i></a>
            </div>
       </div>

       <div>
            <p class="mb-1">Wilson's Jewelers LTD</p>
            <p class="mb-1">1344 Hershell Hollow Road ,</p>
            <p class="mb-1">Tukwila, WA 98168 ,</p>
            <p class="mb-1">United States</p>
            <p class="">(723) 732-760-5760</p>
       </div>

       <div class="d-flex justify-content-between mt-3">
            <h5 class="">Billing Address</h5>
            <div>
                 <a href="javascript:void(0);"><i class='bx bx-edit-alt fs-18'></i></a>
            </div>
       </div>

       <p class="mb-1">Same as shipping address</p>
  </div>
</div>