<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <h4 class="card-title mb-2 d-flex align-items-center gap-2">Total Invoice</h4>
            <p class="text-muted fw-medium fs-22 mb-0">234</p>
          </div>
          <div>
            <div class="avatar-md bg-primary bg-opacity-10 rounded">
              <iconify-icon icon="solar:bill-list-bold-duotone" class="fs-32 text-primary avatar-title"></iconify-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <h4 class="card-title mb-2 d-flex align-items-center gap-2">Total Order</h4>
            <p class="text-muted fw-medium fs-22 mb-0">219</p>
          </div>
          <div>
            <div class="avatar-md bg-primary bg-opacity-10 rounded">
              <iconify-icon icon="solar:box-bold-duotone" class="fs-32 text-primary avatar-title"></iconify-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <h4 class="card-title mb-2 d-flex align-items-center gap-2">Total Expense</h4>
            <p class="text-muted fw-medium fs-22 mb-0">{{currency}}2,189</p>
          </div>
          <div>
            <div class="avatar-md bg-primary bg-opacity-10 rounded">
              <iconify-icon icon="solar:chat-round-money-bold-duotone" class="fs-32 text-primary avatar-title"></iconify-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>