<div class="card">
  <div class="card-header">
       <h4 class="card-title">Pricing Details</h4>
  </div>
  <div class="card-body">
       <div class="row">
            <div class="col-lg-4">
                 <form>
                      <label for="product-price" class="form-label">Price</label>
                      <div class="input-group mb-3">
                           <span class="input-group-text fs-20"><i class='bx bx-dollar'></i></span>
                           <input type="number" id="product-price" class="form-control" placeholder="000" value="80">
                      </div>
                 </form>
            </div>
            <div class="col-lg-4">
                 <form>
                      <label for="product-discount" class="form-label">Discount</label>
                      <div class="input-group mb-3">
                           <span class="input-group-text fs-20"><i class='bx bxs-discount'></i></span>
                           <input type="number" id="product-discount" class="form-control" placeholder="000" value="30">
                      </div>
                 </form>
            </div>
            <div class="col-lg-4">
                 <form>
                      <label for="product-tex" class="form-label">Tex</label>
                      <div class="input-group mb-3">
                           <span class="input-group-text fs-20"><i class='bx bxs-file-txt'></i></span>
                           <input type="number" id="product-tex" class="form-control" placeholder="000" value="3">
                      </div>
                 </form>
            </div>
       </div>
  </div>
</div>