<div class="card">
  <div class="card-header">
       <h4 class="card-title">Seller Product Information</h4>
  </div>
  <div class="card-body">
       <div class="row">
            <div class="col-lg-4">
                 <form>
                      <div class="mb-3">
                           <label for="items-stock" class="form-label">Items Stock</label>
                           <input type="number" id="items-stock" class="form-control" placeholder="000" value="865">
                      </div>
                 </form>
            </div>
            <div class="col-lg-4">
                 <form>
                      <div class="mb-3">
                           <label for="items-sells" class="form-label">Product Sells</label>
                           <input type="number" id="items-sells" class="form-control" placeholder="000" value="4897">
                      </div>
                 </form>
            </div>
            <div class="col-lg-4">
                 <form>
                      <div class="mb-3">
                           <label for="happy-client" class="form-label">Happy Client</label>
                           <input type="number" id="happy-client" class="form-control" placeholder="000" value="2826">
                      </div>
                 </form>
            </div>
       </div>
  </div>
</div>