<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
       <div>
            <h4 class="card-title">Customer Details</h4>
       </div>
       <div>
            <span class="badge bg-success-subtle text-success px-2 py-1">Active User</span>
       </div>

  </div>
  <div class="card-body py-2">
       <div class="table-responsive">
            <table class="table mb-0">
                 <tbody>
                      <tr>
                           <td class="px-0">
                                <p class="d-flex mb-0 align-items-center gap-1 fw-semibold text-dark">Account ID : </p>
                           </td>
                           <td class="text-dark fw-medium px-0">#AC-278699</td>
                      </tr>
                      <tr>
                           <td class="px-0">
                                <p class="d-flex mb-0 align-items-center gap-1 fw-semibold text-dark"> Invoice Email : </p>
                           </td>
                           <td class="text-dark fw-medium px-0">michaelaminer&#64;dayrep.com</td>
                      </tr>
                      <tr>
                           <td class="px-0">
                                <p class="d-flex mb-0 align-items-center gap-1 fw-semibold text-dark"> Delivery Address : </p>
                           </td>
                           <td class="text-dark fw-medium px-0">62, rue des Nations Unies 22000 SAINT-BRIEUC</td>
                      </tr>
                      <tr>
                           <td class="px-0">
                                <p class="d-flex mb-0 align-items-center gap-1 fw-semibold text-dark"> Language : </p>
                           </td>
                           <td class="text-dark fw-medium px-0">English</td>
                      </tr>
                      <tr>
                           <td class="px-0">
                                <p class="d-flex mb-0 align-items-center gap-1 fw-semibold text-dark"> Latest Invoice Id : </p>
                           </td>
                           <td class="text-dark fw-medium px-0">#INV2540</td>
                      </tr>

                 </tbody>
            </table>
       </div>
  </div>
</div>