<div class="row">
  <div class="col-xl-3 col-lg-4">
      <edit-product-detail />
  </div>

  <div class="col-xl-9 col-lg-8 ">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Add Product Photo</h4>
      </div>
      <div class="card-body">
        <FileUploader />
      </div>
    </div>

       <edit-product-info />

       <edit-product-pricing />       
      
       <div class="p-3 bg-light mb-3 rounded">
            <div class="row justify-content-end g-2">
                 <div class="col-lg-2">
                      <a href="#!" class="btn btn-outline-secondary w-100">Reset</a>
                 </div>
                 <div class="col-lg-2">
                      <a href="#!" class="btn btn-primary w-100">Save</a>
                 </div>
            </div>
       </div>
  </div>
</div>
