<div class="ps-lg-4">
  <h4 class="card-title">Profit by Product Category</h4>
  <div class="d-flex align-items-center justify-content-between mt-3 mb-1">
    <p class="mb-0 fs-15 fw-medium text-dark">Man's Wares</p>
    <div>
      <p class="mb-0 fs-15 fw-medium text-dark">{{currency}}123k <span class="ms-1"><iconify-icon icon="solar:course-up-outline" class="text-success"></iconify-icon></span></p>
    </div>
  </div>
  <ngb-progressbar type="primary" [value]="70" [animated]="true" [striped]="true" class="progress-soft progress-md"></ngb-progressbar>
  <div class="d-flex align-items-center justify-content-between mt-3 mb-1">
    <p class="mb-0 fs-15 fw-medium text-dark">Woman's Wares</p>
    <div>
      <p class="mb-0 fs-15 fw-medium text-dark">{{currency}}233k <span class="ms-1"><iconify-icon icon="solar:course-up-outline" class="text-success"></iconify-icon></span></p>
    </div>
  </div>
  <ngb-progressbar type="success" [value]="90" [animated]="true" [striped]="true" class="progress-soft progress-md"></ngb-progressbar>
  <div class="d-flex align-items-center justify-content-between mt-3 mb-1">
    <p class="mb-0 fs-15 fw-medium text-dark">Kid's Wares</p>
    <div>
      <p class="mb-0 fs-15 fw-medium text-dark">{{currency}}110k <span class="ms-1"><iconify-icon icon="solar:course-up-outline" class="text-success"></iconify-icon></span></p>
    </div>
  </div>
  <ngb-progressbar type="warning" [value]="60" [animated]="true" [striped]="true" class="progress-soft progress-md"></ngb-progressbar>
  <div class="d-flex align-items-center justify-content-between mt-3 mb-1">
    <p class="mb-0 fs-15 fw-medium text-dark">Foot Wares</p>
    <div>
      <p class="mb-0 fs-15 fw-medium text-dark">{{currency}}51k <span class="ms-1"><iconify-icon icon="solar:course-down-outline" class="text-danger"></iconify-icon></span></p>
    </div>
  </div>
  <ngb-progressbar type="info" [value]="40" [animated]="true" [striped]="true" class="progress-soft progress-md"></ngb-progressbar>
</div>