<div class="card">
  <div class="card-header">
       <h4 class="card-title d-flex align-items-center gap-1"><iconify-icon icon="solar:compass-bold-duotone" class="text-primary fs-20"></iconify-icon>Localization Settings</h4>
  </div>
  <div class="card-body">
       <div class="row">
            <div class="col-lg-6">
                 <form>
                      <div class="mb-3">
                           <label for="choices-country1" class="form-label">Country</label>
                           <select selectFormInput class="form-control" id="choices-country1" data-choices data-choices-groups data-placeholder="Select Country" name="choices-country">
                                <option value="">Choose a country</option>
                                <optgroup label="">
                                     <option value="">United Kingdom</option>
                                     <option value="Fran">France</option>
                                     <option value="Netherlands">Netherlands</option>
                                     <option value="U.S.A">U.S.A</option>
                                     <option value="Denmark">Denmark</option>
                                     <option value="Canada">Canada</option>
                                     <option value="Australia">Australia</option>
                                     <option value="India">India</option>
                                     <option value="Germany">Germany</option>
                                     <option value="Spain">Spain</option>
                                     <option value="United Arab Emirates">United Arab Emirates</option>
                                </optgroup>
                           </select>
                      </div>
                 </form>
            </div>
            <div class="col-lg-6">
                 <form>
                      <div class="mb-3">
                           <label for="choices-language" class="form-label">Language</label>
                           <select selectFormInput class="form-control" id="choices-language" data-choices data-choices-groups data-placeholder="Select language" name="choices-language">
                                <option value="">English</option>
                                <optgroup label="">
                                     <option value="">Russian</option>
                                     <option value="Arabic">Arabic</option>
                                     <option value="Spanish">Spanish</option>
                                     <option value="Turkish">Turkish</option>
                                     <option value="German">German</option>
                                     <option value="Armenian">Armenian</option>
                                     <option value="Italian">Italian</option>
                                     <option value="Catalán">Catalán</option>
                                     <option value="Hindi">Hindi</option>
                                     <option value="Japanese">Japanese</option>
                                     <option value="French">French</option>
                                </optgroup>
                           </select>

                      </div>
                 </form>
            </div>
            <div class="col-lg-6">
                 <form>
                      <div class="mb-3">
                           <label for="choices-currency" class="form-label">Currency</label>
                           <select selectFormInput class="form-control" id="choices-currency" data-choices data-choices-groups data-placeholder="Select Currency" name="choices-currency">
                                <option value="">Us Dollar</option>
                                <optgroup label="">
                                     <option value="">Pound</option>
                                     <option value="Indian Rupee">Indian Rupee</option>
                                     <option value="Euro">Euro</option>
                                     <option value="Australian Dollar">Australian Dollar</option>
                                     <option value="Japanese Yen">Japanese Yen</option>
                                     <option value="Korean Won">Korean Won</option>
                                </optgroup>
                           </select>
                      </div>
                 </form>
            </div>
            <div class="col-lg-6">
                 <form>
                      <div class="mb-3">
                           <label for="choices-length" class="form-label">Length Class</label>
                           <select selectFormInput class="form-control" id="choices-length" data-choices data-choices-groups data-placeholder="Select Length" name="choices-length">
                                <option value="">Centimeter</option>
                                <optgroup label="">
                                     <option value="">Millimeter</option>
                                     <option value="Inch">Inch</option>
                                </optgroup>
                           </select>
                      </div>
                 </form>
            </div>
            <div class="col-lg-6">
                 <form>
                      <div class="">
                           <label for="choices-weight" class="form-label">Weight Class</label>
                           <select selectFormInput class="form-control" id="choices-weight" data-choices data-choices-groups data-placeholder="Select Weight" name="choices-weight">
                                <option value="">Kilogram</option>
                                <optgroup label="">
                                     <option value="">Gram</option>
                                     <option value="Pound">Pound</option>
                                     <option value="Ounce">Ounce</option>
                                </optgroup>
                           </select>
                      </div>
                 </form>
            </div>
       </div>
  </div>
</div>