<div class="card bg-light-subtle">
  <div class="card-body">
    <div class="row g-3 g-lg-0">
      <div class="col-lg-3 border-end">
        <div class="d-flex align-items-center gap-3 justify-content-between px-3">
          <div>
            <p class="text-dark fw-medium fs-16 mb-1">Vender</p>
            <p class="mb-0">Catpiller</p>
          </div>
          <div class="avatar bg-light d-flex align-items-center justify-content-center rounded">
            <iconify-icon icon="solar:shop-2-bold-duotone" class="fs-35 text-primary"></iconify-icon>
          </div>
        </div>
      </div>
      <div class="col-lg-3 border-end">
        <div class="d-flex align-items-center gap-3 justify-content-between px-3">
          <div>
            <p class="text-dark fw-medium fs-16 mb-1">Date</p>
            <p class="mb-0">April 23 , 2024</p>
          </div>
          <div class="avatar bg-light d-flex align-items-center justify-content-center rounded">
            <iconify-icon icon="solar:calendar-date-bold-duotone" class="fs-35 text-primary"></iconify-icon>
          </div>
        </div>
      </div>
      <div class="col-lg-3 border-end">
        <div class="d-flex align-items-center gap-3 justify-content-between px-3">
          <div>
            <p class="text-dark fw-medium fs-16 mb-1">Paid By</p>
            <p class="mb-0">Gaston Lapierre</p>
          </div>
          <div class="avatar bg-light d-flex align-items-center justify-content-center rounded">
            <iconify-icon icon="solar:user-circle-bold-duotone" class="fs-35 text-primary"></iconify-icon>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="d-flex align-items-center gap-3 justify-content-between px-3">
          <div>
            <p class="text-dark fw-medium fs-16 mb-1">Reference #IMEMO</p>
            <p class="mb-0">#0758267/90</p>
          </div>
          <div class="avatar bg-light d-flex align-items-center justify-content-center rounded">
            <iconify-icon icon="solar:clipboard-text-bold-duotone" class="fs-35 text-primary"></iconify-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>