<div class="row">
  <div class="col-xl-3 col-lg-4">
    <add-detail />
  </div>

  <div class="col-xl-9 col-lg-8 ">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Add Product Photo</h4>
      </div>
      <div class="card-body">
        <FileUploader />
      </div>
    </div>
    <add-info />

    <add-pricing />


    <div class="p-3 bg-light mb-3 rounded">
      <div class="row justify-content-end g-2">
        <div class="col-lg-2">
          <a href="#!" class="btn btn-outline-secondary w-100">Create Product</a>
        </div>
        <div class="col-lg-2">
          <a href="#!" class="btn btn-primary w-100">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>