<div class="card">
  <div class="card-header">
    <h4 class="card-title">Top Review From World</h4>
  </div>
  <div class="card-body">
    <div class="d-flex align-items-center gap-2">
      <img src="assets/images/users/avatar-6.jpg" alt="" class="avatar-md rounded-circle">
      <div>
        <h5 class="mb-0">Henny K. Mark</h5>
      </div>
    </div>
    <div class="d-flex align-items-center gap-2 mt-3 mb-1">
      <ul class="d-flex text-warning m-0 fs-20 list-unstyled">
        <ng-template #t let-fill="fill">
          <i class="bx bx-star text-warning fs-20">
            @if (fill > 0) {
            <i class="bx bxs-star text-warning fs-20 filled" [style.width.%]="fill"></i>
            }
          </i>
        </ng-template>

        <ngb-rating [rate]="4.5" [starTemplate]="t" [readonly]="true" [max]="5" />
      </ul>
      <p class="fw-medium mb-0 text-dark fs-15">Excellent Quality</p>
    </div>

    <p class="mb-0 text-dark fw-medium fs-15">Reviewed in Canada on 16 November 2023</p>
    <p class="text-muted">Medium thickness. Did not shrink after wash. Good elasticity . XL size Perfectly fit for 5.10 height and heavy body. Did not fade after wash. Only for maroon colour t-shirt colour lightly gone in first wash but not faded. I bought 5 tshirt of different colours. Highly recommended in so low price.</p>
    <div class="mt-2">
      <a href="javascript:void(0);" class="fs-14 me-3 text-muted"><i class='bx bx-like'></i> Helpful</a>
      <a href="javascript:void(0);" class="fs-14 text-muted"> Report</a>
    </div>

    <hr class="my-3">

    <div class="d-flex align-items-center gap-2">
      <img src="assets/images/users/avatar-4.jpg" alt="" class="avatar-md rounded-circle">
      <div>
        <h5 class="mb-0">Jorge Herry</h5>
      </div>
    </div>
    <div class="d-flex align-items-center gap-2 mt-3 mb-1">
      <ul class="d-flex text-warning m-0 fs-20 list-unstyled">
        <ng-template #t let-fill="fill">
          <i class="bx bx-star text-warning fs-20">
            @if (fill > 0) {
            <i class="bx bxs-star text-warning fs-20 filled" [style.width.%]="fill"></i>
            }
          </i>
        </ng-template>

        <ngb-rating [rate]="4.5" [starTemplate]="t" [readonly]="true" [max]="5" />
      </ul>
      <p class="fw-medium mb-0 text-dark fs-15">Good Quality</p>
    </div>

    <p class="mb-0 text-dark fw-medium fs-15">Reviewed in U.S.A on 21 December 2023

    </p>
    <p class="text-muted mb-0">I liked the tshirt, it's pure cotton &amp; skin friendly, but the size is smaller to compare standard size.</p>
    <p class="text-muted mb-0">best rated</p>

    <div class="mt-2">
      <a href="javascript:void(0);" class="fs-14 me-3 text-muted"><i class='bx bx-like'></i> Helpful</a>
      <a href="javascript:void(0);" class="fs-14 text-muted"> Report</a>
    </div>
  </div>
</div>