<div class="card">
  <div class="card-header">
       <h4 class="card-title">Order Timeline</h4>
  </div>
  <div class="card-body">
       <div class="position-relative ms-2">
            <span class="position-absolute start-0  top-0 border border-dashed h-100"></span>
            <div class="position-relative ps-4">
                 <div class="mb-4">
                      <span class="position-absolute start-0 avatar-sm translate-middle-x bg-light d-inline-flex align-items-center justify-content-center rounded-circle">
                           <div class="spinner-border spinner-border-sm text-warning" role="status">
                                <span class="visually-hidden">Loading...</span>
                           </div>
                      </span>
                      <div class="ms-2 d-flex flex-wrap gap-2 align-items-center justify-content-between">
                           <div>
                                <h5 class="mb-1 text-dark fw-medium fs-15">The packing has been started</h5>
                                <p class="mb-0">Confirmed by Gaston Lapierre</p>
                           </div>
                           <p class="mb-0">April 23, 2024, 09:40 am</p>

                      </div>
                 </div>
            </div>
            <div class="position-relative ps-4">
                 <div class="mb-4">
                      <span class="position-absolute start-0 avatar-sm translate-middle-x bg-light d-inline-flex align-items-center justify-content-center rounded-circle text-success fs-20">
                           <i class='bx bx-check-circle'></i>
                      </span>
                      <div class="ms-2 d-flex flex-wrap gap-2  align-items-center justify-content-between">
                           <div>
                                <h5 class="mb-1 text-dark fw-medium fs-15">The Invoice has been sent to the customer</h5>
                                <p class="mb-2">Invoice email was sent to <a href="javascript:void(0);" class="link-primary">hello&#64;dundermuffilin.com</a></p>
                                <a href="javascript:void(0);" class="btn btn-light">Resend Invoice</a>
                           </div>
                           <p class="mb-0">April 23, 2024, 09:40 am</p>

                      </div>
                 </div>
            </div>
            <div class="position-relative ps-4">
                 <div class="mb-4">
                      <span class="position-absolute start-0 avatar-sm translate-middle-x bg-light d-inline-flex align-items-center justify-content-center rounded-circle text-success fs-20">
                           <i class='bx bx-check-circle'></i>
                      </span>
                      <div class="ms-2 d-flex flex-wrap gap-2 align-items-center justify-content-between">
                           <div>
                                <h5 class="mb-1 text-dark fw-medium fs-15">The Invoice has been created</h5>
                                <p class="mb-2">Invoice created by Gaston Lapierre</p>
                                <a href="javascript:void(0);" class="btn btn-primary">Download Invoice</a>
                           </div>
                           <p class="mb-0">April 23, 2024, 09:40 am</p>

                      </div>
                 </div>
            </div>
            <div class="position-relative ps-4">
                 <div class="mb-4">
                      <span class="position-absolute start-0 avatar-sm translate-middle-x bg-light d-inline-flex align-items-center justify-content-center rounded-circle text-success fs-20">
                           <i class='bx bx-check-circle'></i>
                      </span>
                      <div class="ms-2 d-flex flex-wrap gap-2 align-items-center justify-content-between">
                           <div>
                                <h5 class="mb-1 text-dark fw-medium fs-15">Order Payment</h5>
                                <p class="mb-2">Using Master Card</p>
                                <div class="d-flex align-items-center gap-2">
                                     <p class="mb-1 text-dark fw-medium">Status :</p>
                                     <span class="badge bg-success-subtle text-success  px-2 py-1 fs-13">Paid</span>
                                </div>
                           </div>
                           <p class="mb-0">April 23, 2024, 09:40 am</p>

                      </div>
                 </div>
            </div>
            <div class="position-relative ps-4">
                 <div class="mb-2">
                      <span class="position-absolute start-0 avatar-sm translate-middle-x bg-light d-inline-flex align-items-center justify-content-center rounded-circle text-success fs-20">
                           <i class='bx bx-check-circle'></i>
                      </span>
                      <div class="ms-2 d-flex flex-wrap gap-2  align-items-center justify-content-between">
                           <div>
                                <h5 class="mb-2 text-dark fw-medium fs-15">4 Order conform by Gaston Lapierre</h5>
                                <a href="javascript:void(0);" class="badge bg-light text-dark fw-normal  px-2 py-1 fs-13">Order 1</a>
                                <a href="javascript:void(0);" class="badge bg-light text-dark fw-normal  px-2 py-1 fs-13 ms-1">Order 2</a>
                                <a href="javascript:void(0);" class="badge bg-light text-dark fw-normal  px-2 py-1 fs-13 ms-1">Order 3</a>
                                <a href="javascript:void(0);" class="badge bg-light text-dark fw-normal  px-2 py-1 fs-13 ms-1">Order 4</a>
                           </div>
                           <p class="mb-0">April 23, 2024, 09:40 am</p>

                      </div>
                 </div>
            </div>
       </div>
  </div>
</div>